.heroContainer {
    position: relative;
    display: grid;
    gap: var(--spacing-md);
    width: 100vw;
    padding: var(--spacing-lg) var(--spacing-md);
}

.heroImage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: contrast(80%) grayscale(40%) brightness(0.7);
}

.title {
    position: relative;
    z-index: 1;
}

.details {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.createdAt {
    font-style: italic;
}

.content {
    padding: var(--spacing-lg) var(--spacing-md);
}

.body > p {
    margin-top: var(--spacing-sm);
}
