.container {
    width: 100%;
}

.comment {
    margin-bottom: var(--spacing-md);
}

.comment p {
    margin-top: var(--spacing-md);
}

.body {
    background-color: var(--background-contrast);
    padding: var(--spacing-sm);
}

.subCommentSection {
    width: 100%;
    border-left: 2px solid var(--text-color);
    padding-left: var(--spacing-md);
    margin-top: var(--spacing-sm);
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.user p {
    margin: 0;
    margin-left: var(--spacing-sm);
    font-weight: 600;
}
