.header {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: var(--background-contrast);
    width: 100vw;
    border-bottom: 3px solid var(--background);
}

.titleContainer {
    height: 2.5rem;
    padding-left: 1rem;
    border-left: 2px solid var(--text-color);
}

.title {
    font-size: 2rem;
}
