.footer {
    padding: var(--spacing-md);
    background-color: var(--background-contrast);
}

.footerText {
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: grid;
    grid-gap: var(--spacing-sm);
}
